.blocks {
  transform-origin: 20% 40%;
  -webkit-transform:  rotate(110deg);
  -moz-transform :  rotate(110deg);
  -ms-transform: rotate(110deg);
  -o-transform :  rotate(110deg);
}

.blocks > div{
  height: 90px;
  width: 90px;
  color: black;
  background-color: #396eff;
  border: 1px solid black;
 padding: 5px;
}

#one{
  -webkit-transform : translate(200px) rotate(-90deg);
  -moz-transform : translate(200px) rotate(-90deg);
  -ms-transform: translate(200px) rotate(-90deg);
  -o-transform : translate(200px) rotate(-90deg);
}

#two{
  -webkit-transform : translate(301px,0px);
  -moz-transform : translate(301px,0px);
  -ms-transform: translate(301px,0px);
  -o-transform : translate(301px,0px));
}

#three{
  -webkit-transform : translate(200px) rotate(90deg);
  -moz-transform : translate(200px) rotate(90deg);
  -ms-transform: translate(200px) rotate(90deg);
  -o-transform : translate(200px) rotate(90deg);
}

#four{
  -webkit-transform : translate(99px,-202px) rotate(-180deg);
  -moz-transform : translate(99px,-202px) rotate(-180deg);
  -ms-transform: translate(99px,-202px) rotate(-180deg);
  -o-transform : translate(99px,-202px) rotate(-180deg);
}
